$black:  #222
$gray:   #888
$light:  #eee
$white:  #fff
$accent: #34a995

*
  margin: 0
  padding: 0
  box-sizing: border-box
  outline: none

body
  font-size: 16px
  font-family: sans-serif
  line-height: 1.6
  color: $black

p
  margin: 1rem 0

a
  color: $accent
  text-decoration: none

  &:hover
    border-bottom: 1px solid $accent

button
  margin: 0.5rem 1rem 0.5rem 0
  padding: 0.5rem
  color: $accent
  background: $white
  text-transform: uppercase
  border: 1px solid $accent
  cursor: pointer
  transition: color .25s ease-in-out
  transition: background .2s ease-in-out

  &:hover
    color: $white
    background: $accent

.wrapper
  margin: 0 auto
  width: 720px
  max-width: 90%

.content
  margin-top: 2rem
  margin-bottom: 2rem

.header
  padding: 1rem 0
  box-shadow: 0 0 8px -2px #333

.header__title
  display: inline-block

  a
    color: $black

    &:hover
      border: none

.header__filter
  display: inline-block
  margin-left: 2rem

.courses
  list-style-type: none

.courses__subject
  text-transform: uppercase

.courses__subject-title
  margin: 2rem 0 1rem

.courses__course
  display: table
  padding: 0.2rem 1rem
  width: 100%
  white-space: nowrap;

  &:nth-child(odd)
    background: $light

.courses__course-title
  display: table-cell
  width: 100%

.courses__course-shortTitles
  display: table-cell
  text-align: right
  color: $gray

textarea
  width: 100%
  min-height: 420px;
  padding: 1rem
